@page
@model SandboxRazorPages.Pages.Songs.IndexModel

@{
    ViewData["Title"] = "Songs";
}

<style>
    .col-lg-3, .col-lg-9 {
        border: none 1px black;
    }</style>

<div class="row">
    <div class="col-lg-3 text-center"><h1>Songs</h1></div>
    <div class="col-lg-9">&nbsp;</div>
</div>"


<div class="row">
    <div class="col-md-2 fw-bold text-end">@Html.DisplayName($"Song Id")</div>
    <div class="col-md-10 fw-bold">@Html.DisplayName("Song Name")</div>
</div>
@foreach (var item in Model.Song)
{
    <div class="row">
        <div class="col-md-2 text-end">@Html.DisplayFor(modelItem => item.SongId)</div>
        <div class="col-md-10">@Html.DisplayFor(modelItem => item.SongTitle)</div>
    </div>
}
