@page
@model SandboxRazorPages.Pages.Albums.IndexModel

@{
    ViewData["Title"] = "Albums";
}
<div class="row">
    <div class="col-lg-3"><h1>Albums</h1></div>
</div>

<div class="row">
    <div class="col-md-2 fw-bold text-end">@Html.DisplayName("Album Id")</div>
    <div class="col-md-10 fw-bold">@Html.DisplayName("Album Name")</div>
</div>
@foreach (var item in Model.Album) {
    <div class="row">
        <div class="col-md-2 text-end">@Html.DisplayFor(modelItem => item.AlbumId)</div>
        <div class="col-md-10 ">@Html.DisplayFor(model => item.AlbumTitle)</div>
    </div>
}
